// ========================================
// Link 유틸리티 클래스
// @group utilities
// @description 링크 관련 유틸리티 클래스들
//
// 사용법:
// <a href="#" class="u__link--stretched">Stretched Link</a>
//
// 주요 클래스:
// - u__link--stretched: 링크 영역 확장
// ========================================

@use 'sass:color';
@use '../abstracts/variables' as *;

// 유틸리티 블록 (Block)
// Note: color.scale() 사용을 위해 Sass 변수 사용
.u {
  &__link {
    // 스트레치 링크 (Bootstrap 스타일)
    &--stretched {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: '';
    }

    // 언더라인 제거
    &--unstyled {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    // 링크 색상 (KRDS 토큰 사용, hover는 Sass 변수로 계산)
    &--primary {
      color: var(--krds-color-light-primary-50, var(--cs-primary));
      text-decoration: none;

      &:hover {
        color: color.scale($cs-color-primary, $lightness: -15%);
        text-decoration: underline;
      }
    }

    &--secondary {
      color: var(--krds-color-light-secondary-50, var(--cs-secondary));
      text-decoration: none;

      &:hover {
        color: color.scale($cs-color-secondary, $lightness: -15%);
        text-decoration: underline;
      }
    }

    &--success {
      color: var(--krds-color-light-success-50, var(--cs-success));
      text-decoration: none;

      &:hover {
        color: color.scale($cs-color-success, $lightness: -15%);
        text-decoration: underline;
      }
    }

    &--danger {
      color: var(--krds-color-light-danger-50, var(--cs-danger));
      text-decoration: none;

      &:hover {
        color: color.scale($cs-color-danger, $lightness: -15%);
        text-decoration: underline;
      }
    }

    &--warning {
      color: var(--krds-color-light-warning-50, var(--cs-warning));
      text-decoration: none;

      &:hover {
        color: color.scale($cs-color-warning, $lightness: -15%);
        text-decoration: underline;
      }
    }

    &--info {
      color: var(--krds-color-light-information-50, var(--cs-info));
      text-decoration: none;

      &:hover {
        color: color.scale($cs-color-info, $lightness: -15%);
        text-decoration: underline;
      }
    }
  }
}
