# Auto detect text files and perform LF normalization
* text=auto

# Source files
*.html text eol=lf
*.css text eol=lf
*.scss text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf

# Documentation
*.txt text eol=lf
*.md text eol=lf

# Git attributes
.gitattributes text eol=lf
.gitignore text eol=lf

# Lock files
package-lock.json text eol=lf
yarn.lock text eol=lf

