// ========================================
// 타이포그래피
// @description 전역 타이포그래피 스타일
// ========================================

@use '../abstracts/variables' as *;

// 헤딩 요소
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $cs-spacing-md;
  color: $cs-color-text-title;
  font-weight: 600;
  line-height: 1.2;
}
